@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-image: url(https://oir.mobi/uploads/posts/2021-03/1616430869_28-p-krasivii-fon-kosmos-31.jpg);


    min-height: 100vh;
    display: flex;
    font-display: column;
}
.title {
    font-style: 60px;
    color: red;
    text-align: center;
    margin-top: 10vw;
    position: relative;
    z-index: 2;
    font-size: 3rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    margin: 30px auto 0;
    padding-top: 100px;
}
.countdown {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 0 100px 50px #000000;
}

.num {
    font-size: 4rem;
}

.name {
    display: block;
    width: 200px;
    text-align: center;
}