* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter {
    display: inline-flex;
    column-gap: 10px;
    align-items: center;
    user-select: none;
}
.counter__btn-minus {
    flex: 0 0 30px;
    height: 30px;
    border: 1px solid #008000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.counter__btn-minus.disabled {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: default;
}
.counter__btn-plus.disabled {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    cursor: default;
}
.counter__input input{
    width: 100%;
    border: none;
    background-color: #fff;
    text-align: center;
}
.counter__btn-plus {
    flex: 0 0 30px;
    height: 30px;
    border: 1px solid #008000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
